#head_and_logos {
    display: 
    
}

.header_and_buttons {
    display: inline;
    /*padding-left: 20px;*/
 
}

#fb_logo {
    height: 40px;
    width: 4%;
    float: right;
    display: inline;
    margin-top: 2px;
    margin-right: 12px;
}

#github_logo {
    width: 9%;
    float: right;
    display: inline;
    margin-top: 2px;
}

#twitter_logo {
    width: 4%;
    height: 25px;
    float: right;
    display: inline;
    padding-top: 5px;
    margin-top: 2px;
}


#headline {
    /*font-family: Century Gothic, sans-serif;*/
    font-family: ‘Times New Roman’, Times, serif;
    font-size: 50px;
    color: #618985;
    float: center;
}

img {
    height: 175%;
    width: 100%;
    
    
}

td {
    width: 33%;
    height: 200px;
}

#navbar {
    font-family: Georgia, serif;
    /*"Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;*/
    font-weight: normal;
    /*color: #010101;*/
    /*background-color: #cccccc;*/
    text-align: center;
    
}

#topsite {
    display: inline;
    position: static;
}

li {
    display: inline;
    font-size: 18px;
}

#name {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    /*Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;*/
    font-weight: bold;
    color: #7d9e9f;
    font-size: 3em;
    margin: -5px 5px 5px 5px;
    
}

a:link {
    text-decoration: none;
    color: #7c7c7c;
}

a:visited {
    text-decoration: none;
    color: #7c7c7c;
}

a:hover {
    text-decoration: underline;
    color: #491504;
}

a:active {
    text-decoration: underline;
     color: #491504;
}

.nav_divider {
      font-weight: bold;
      color: #63032e;
      /*color: #0091a1;*/
    
}

h2 {
    font-family: Century Gothic, sans-serif;
}

#footer_text {
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-size: 25px;
    font-weight: bold; 
    float: center;
    color: #618985;
}