
#fb_logo {
    height: 40px;
    width: 4%;
    /*float: right;*/
    display: inline;
    margin-top: 2px;
    margin-right: 5px;
}

#github_logo {
    width: 9%;
    /*float: right;*/
    display: inline;
    margin-top: 2px;
}

#twitter_logo {
    width: 4%;
    height: 25px;
    /*float: right;*/
    display: inline;
    padding-top: 5px;
    margin-top: 2px;
}

article {
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

.code {
    color: #C14BD5;
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}


.connection_flow {
    color: #C14BD5;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}


.social_media_github_buttons {
    /*display: inline;*/
    /*padding-left: 20px;*/
    /*margin-top: 40px;*/
    display: block;
    margin-left: auto;
    text-align: center;
    margin-right: auto }
 

#number {
    color: #DC19CD;
     font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    
}

#popwords {
    color: #DC19CD;
     font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    /*margin-left: 60px;*/
    /*margin-right: 60px;*/
    
}



/*#name {*/
/*    font-family: Helvetica, Trebuchet MS, sans-serif;*/
    /*Calibri, Candara, Segoe, Segoe UI, Optima, Arial,sans-serif;*/
   /*font-family: Copperplate / Copperplate Gothic Light, sans-serif;*/
   /*font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;*/
/*    font-weight: none;*/
/*    color: black;*/
/*    font-size: 3em;*/
/*    margin: -5px 5px 5px 5px;*/
    
/*}*/

td {
    width: 100px;
    height: 200px;
}

#main_photo {
    width: 100%;
    /*width: 1250px;*/
    /*height: 685px;*/
    height: 630px;
    /*height: 100%;*/
    margin: 0;
    padding: 0; 
    border: 0;
}










body {
    width: 100%;
}



/*#topsite {*/
/*    display: inline;*/
/*    position: static;*/
/*}*/

h1 {
    font-size: 55px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    
}

h2 {
    font-size: 35px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    
}

h3 {
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    color: #238591     ;
    
}




li {
    display: inline;
    font-size: 18px;
    color: #008B8B;
}

#navbar {
    font-family: Georgia, serif;
    /*"Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;*/
    font-weight: normal;
     color: #008B8B;
    /*background-color: #cccccc;*/
    text-align: center;
 
    
}
    
.nav_divider {
      font-weight: bold;
      color: #63032e;
      /*color: #0091a1;*/
    
}

a:link {
    text-decoration: none;
    /*color: #7c7c7c;*/
    color: #008B8B;
}

a:visited {
    text-decoration: none;
    color: #008B8B;
}

a:hover {
    text-decoration: underline;
    color: #491504;
}

a:active {
    text-decoration: underline;
     color: #491504;
}
